<div class="container user-container">
  <div class="col-md-3 col-sm-4">
    <section class="user-sidebar clearfix">
      <div class="userinfo clearfix">
        <figure>
          <img
            alt=""
            src="//st.nettruyengo.com/data/siteimages/anonymous.png"
            class="avatar user-img"
          />
          <figcaption>
            <div class="title">Tài khoản của</div>
            <div class="user-name">duyanh@gmail.com</div>
          </figcaption>
        </figure>
      </div>
    </section>
    <nav class="user-sidelink clearfix">
      <ul>
        <li class="hvr-sweep-to-right active">
          <a href="/users/dashboard"
            ><i class="fa fa-tachometer"></i> Thông tin chung</a
          >
        </li>
        <li class="hvr-sweep-to-right">
          <a href="/users/profile"
            ><i class="fa fa-info-circle"></i> Thông tin tài khoản</a
          >
        </li>
        <li class="hvr-sweep-to-right">
          <a href="/comics/followed"
            ><i class="fa fa-book"></i> Truyện theo dõi</a
          >
        </li>
        <li class="hvr-sweep-to-right">
          <a href="/comments"
            ><i class="fa fa-comments"></i> Bình luận</a
          >
        </li>
        <li class="hvr-sweep-to-right">
          <a href="/notifications"
            ><i class="fa fa-comment"></i> Thông báo</a
          >
        </li>
        <li class="hvr-sweep-to-right">
          <a href="/change-password"
            ><i class="fa fa-lock"></i> Đổi mật khẩu</a
          >
        </li>
        <li class="hvr-sweep-to-right">
          <a href="/logout"
            ><i class="fa fa-sign-out"></i> Thoát</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-md-9 col-sm-8">
    <div class="user-page clearfix">
      <h1 class="postname">Thông tin chung</h1>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="account-info clearfix">
            <h2 class="posttitle">Thông tin tài khoản</h2>
            <a
              class="link"
              href="/users/profile"
              >Chỉnh sửa</a
            >
            <div class="info-detail">
              <div class="group">
                <div class="label">Họ và tên</div>
                <div class="detail">Đỗ Duy Anh</div>
              </div>
              <div class="group">
                <div class="label">Email</div>
                <div class="detail">duyanh@gmail.com</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="relative">
            <h2 class="posttitle">Truyện theo dõi</h2>
            <a
              class="link"
              href="/comics/followed"
              >Xem tất cả</a
            >
          </div>
          <section
            class="comics-followed comics-followed-nopaging user-table clearfix"
          >
            <div class="alert alert-success">
              Truyện chưa đọc sẽ hiển thị ở đầu danh sách, nhấn vào "Đã đọc" nếu
              truyện đọc rồi.
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th class="nowrap">Tên truyện</th>
                    <th class="nowrap">Xem gần nhất</th>
                    <th class="nowrap">Chap mới nhất</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="unread">
                    <td>
                      <a class="image" href="/truyen-tranh/tham-tu-conan-46384">
                        <img
                          src="//st.imageinstant.net/data/comics/30/tham-tu-conan.jpg"
                          class="lazy"
                          data-original="//st.imageinstant.net/data/comics/30/tham-tu-conan.jpg"
                          alt="Thám Tử Conan"
                          style="display: inline"
                        />
                      </a>
                    </td>
                    <td>
                      <a
                        class="comic-name"
                        href="/truyen-tranh/tham-tu-conan-46384"
                        >Thám Tử Conan</a
                      >
                      <div class="follow-action">
                        <a
                          href="javascript:void(0)"
                          class="mark-as-read"
                          data-id="4638"
                        >
                          <i class="fa fa-check"> </i> Đã đọc
                        </a>
                        <a
                          href="javascript:void(0)"
                          class="follow-link"
                          data-id="4638"
                        >
                          <i class="fa fa-times"> </i> Bỏ theo dõi
                        </a>
                      </div>
                    </td>
                    <td class="nowrap chapter">
                      <time class="time">4 giờ trước</time>
                    </td>
                    <td class="nowrap chapter">
                      <a
                        href="/truyen-tranh/tham-tu-conan/chap-1084/806494"
                        title="Chapter 1084"
                        >Chapter 1084</a
                      >
                      <br />
                      <time class="time">24 ngày trước</time>
                    </td>
                  </tr>
                  <tr class="unread">
                    <td>
                      <a class="image" href="/truyen-tranh/doraemon-5723">
                        <img
                          src="//st.imageinstant.net/data/comics/91/doraemon.jpg"
                          class="lazy"
                          data-original="//st.imageinstant.net/data/comics/91/doraemon.jpg"
                          alt="Doraemon"
                          style="display: inline"
                        />
                      </a>
                    </td>
                    <td>
                      <a class="comic-name" href="/truyen-tranh/doraemon-5723"
                        >Doraemon</a
                      >
                      <div class="follow-action">
                        <a
                          href="javascript:void(0)"
                          class="mark-as-read"
                          data-id="5723"
                        >
                          <i class="fa fa-check"> </i> Đã đọc
                        </a>
                        <a
                          href="javascript:void(0)"
                          class="follow-link"
                          data-id="5723"
                        >
                          <i class="fa fa-times"> </i> Bỏ theo dõi
                        </a>
                      </div>
                    </td>
                    <td class="nowrap chapter">
                      <time class="time">2 giây trước</time>
                    </td>
                    <td class="nowrap chapter">
                      <a
                        href="/truyen-tranh/doraemon/chap-507/112551"
                        title="Chapter 507"
                        >Chapter 507</a
                      >
                      <br />
                      <time class="time">17/03/15</time>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </div>
        <div class="col-xs-12">
          <div class="relative">
            <h2 class="posttitle">Bình luận</h2>
            <a
              class="link"
              href="/comments"
              >Xem tất cả</a
            >
          </div>
          <section class="user-table clearfix">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th class="nowrap">Tên truyện</th>
                    <th class="nowrap">Thời gian</th>
                    <th class="nowrap">Nội dung</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <a
                        rel="nofollow"
                        class="image"
                        href="http://www.nettruyengo.com/truyen-tranh/truyen-ngan-doraemon-moi-nhat-27863"
                      >
                        <img
                          class="lazy"
                          data-original="//st.nettruyengo.com/data/comics/215/truyen-ngan-doraemon-moi-nhat.jpg"
                          src="//st.nettruyengo.com/data/comics/215/truyen-ngan-doraemon-moi-nhat.jpg"
                          style="display: inline"
                        />
                      </a>
                    </td>
                    <td>
                      <a
                        rel="nofollow"
                        href="http://www.nettruyengo.com/truyen-tranh/truyen-ngan-doraemon-moi-nhat-27863"
                      >
                        Truyện ngắn Doraemon mới nhất
                      </a>
                    </td>
                    <td class="nowrap">
                      <time class="time">13 giây trước</time>
                    </td>
                    <td>
                      <div class="word-wrap">truyện hay</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
