.footer {
    color: #aaa;
    background-color: #222;
    font-size: 13px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.footer .link-footer ul li {
    margin: 0;
    margin-right: 5px;
    line-height: 15px;
    list-style: none;
    display: inline-block;
    border-style: groove;
    border: 2px solid #00e6ff;
    padding: 10px;
    border-radius: 2em / 5em;
}
.footer .link-footer ul {
    margin: 0;
    padding: 0;
}
.footer a {
    color: #ddd;
}
