<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 copyright" itemscope="" itemtype="http://schema.org/Organization">
        <a itemprop="url" href="/">
          <img itemprop="logo" src="//st.nettruyengo.com/data/logos/logo-nettruyen.png"
            alt="NetTruyen - Truyện tranh Online">
        </a>
        <p>
          Copyright © 2021 NetTruyen
        </p>
      </div>
      <div class="col-sm-8">
        <div class="Module Module-55">
          <div class="ModuleContent">
            <div class="link-footer">
              <h4>Thể loại</h4>
              <ul>
                <li>
                  <a target="_self" href="#">Chuyển Sinh</a>
                </li>
                <li>
                  <a target="_self" href="#">Đam Mỹ</a>
                </li>
                <li>
                  <a target="_self" href="#">Manga</a>
                </li>
                <li>
                  <a target="_self" href="#">Manhua</a>
                </li>
                <li>
                  <a target="_self" href="#">Manhwa</a>
                </li>
                <li>
                  <a target="_self" href="#">Ngôn Tình</a>
                </li>
                <li>
                  <a target="_self" href="#">Romance</a>
                </li>
                <li>
                  <a target="_self" href="#">Xuyên Không</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>